.bg-indigo {
	background-color: #9dc08b;
}

.text-white {
	color: white;
}

@media (min-width: 1025px) {
	.h-custom {
		height: 100vh !important;
	}
}

@media (min-width: 759px) {
	.card-registration-2 .bg-indigo {
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}

@media (max-width: 758px) {
	.card-registration-2 .bg-indigo {
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}

@media (min-width: 759px) {
	.card-registration-2 .bg-white {
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}
}

@media (max-width: 758px) {
	.card-registration-2 .bg-white {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
}
